// colors
$main: #087CDB;

$small-w: 375px;
$large-w: 1200px;
$small-h: 667px;
$large-h: 812px;

html, body { height: 100%; }

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

input, label{
    color: #fff !important;
    
}

.MuiInput-underline:before {
    border-bottom-color: white !important;
}

.myContainer {
    margin: 0 auto;
    max-width: 80%;
    padding: 0rem;
    margin-top: 5rem;

    display: flex;
    flex-direction: column;
}

// .topImg {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     height: 65vh;
//     background-image:  linear-gradient( rgba(255, 255, 255, 0.253)),  url("https://i.kinja-img.com/gawker-media/image/upload/s--f0swC2cf--/c_scale,f_auto,fl_progressive,q_80,w_800/y0t5l2htujdf2jxeam78.jpg");
//     background-repeat: no-repeat;
//     background-size: cover;
//     width: 100%;
//     text-align: center;
//     color: black;
// }

@media only screen and (max-width: 770px) {
    .topImg {
        height: 80vh;
    }
}

// @media only screen and (max-width: $small-w) and (max-height: $small-h) {
//     .topImg {
//         height:100vh;
//     }
// }

// @media only screen and (max-width: 320px) and (max-height: 568px) {
//     .topImg {
//         height: 10vh;
//     }
// }

// @media only screen and (max-width: 414px) and (max-height: 736px) {
//     .topImg {
//         height: 80vh;
//     }
// }
// @media only screen and (max-width: 375px) and (max-height: 812px) {
//     .topImg {
//         height: 80vh;
//     }
//     }

.quoteButton {
    margin: 1rem 12%;
    padding: 0rem;
}

.second {
    display:  flex;
    text-align: center;
    padding:0px 0 0px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 4px 13px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 13px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 4px -4px rgba(0,0,0,0.75);
}

@media only screen and (max-width: $small-w) and (max-height: $small-h) {
    .second { 
        display: block;
    }
    }

    @media only screen and (max-width: 414px) and (max-height: 736px) {
        .second {
            display: block;
        }
        }
        @media only screen and (max-width: 635px) {
            .second {
                display: block;
            }
            } 

.enclosed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( rgba(7, 7, 7, 0.753)),  url("../images/luxauto-transport.jpg");
    background-size: cover;
    height: 50vh;
    padding: 100px;
    color: white;
    font-size:1.4rem;
    font-weight: 800;
}

.enclosed:hover {
    font-size: 1.6rem;
}

.openTransport {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(8, 124, 219, 0.651), ),  url("../images/mustang-auto-transport.jpg");
    background-size: cover;
    height: 50vh;
    padding: 100px;
    width: 60%;
    font-size:1.4rem;
    font-weight: 800;
    color:white;
}

.openTransport h3 {
    color: rgba(7, 7, 7, 0.753);
    font-weight: 800;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.openTransport p {
    font-size: 22px;
    font-family: sans-serif;
}

.openTransport a {
    font-size: 22px;
    text-decoration: underline;
    color: white;
}

.openTransport h3:hover{
    font-size: 2rem;
}

.heavy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgba(8, 124, 219, 0.651), ),  url("../images/bulldozer.jpg");
    background-size: cover;
    height: 50vh;
    padding: 100px;
    font-size:1.4rem;
    font-weight: 800;
    color: white;
}

.heavy h3 {
    color: rgba(7, 7, 7, 0.753);
    font-weight: 800;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.heavy p {
    font-size: 22px;
    font-family: sans-serif;
}

.heavy a {
    font-size: 22px;
    text-decoration: underline;
    color: white;
}

.heavy h3:hover{
    font-size: 2rem;
}

.aboutUs {
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media only screen and (min-width: 321px) and (max-width: 600px) {
    .aboutUs {
        height: 85vh;
    }
}

@media only screen and (max-width: 320px) {
    .aboutUs {
        height:100vh;
    }
}

.services {
    text-align: center;
}

.ctaSection {
    margin-bottom: 10px;
}

.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-image: url("../images/black-steel.jpg");
    background-repeat: repeat;
    height: 30vh;
    box-shadow: 0 8px 3px 0px gray;
}

@media screen and (min-width: 321px) and (max-width: 414px) {
    .cta {
        height: 60vh;
    }
}

@media screen and (max-width: 320px) {
    .cta {
        height: 75vh;
    }
}
