// colors
$main: #087CDB;

footer {
    color: white;
    background: #24292e;
    background-size: cover;
    height: 100%;
    padding-top: 2rem;
    padding-bottom:.1rem;
}

.linkRow {
    padding:1rem 0 1.8rem;
}

.footerNav h5 {
    text-decoration: underline;
    margin-bottom: 4px;
}

.footerNav a{
    text-decoration: none;
    margin: 0;
}

.footerSocial h5 {
    text-decoration: underline;
    margin-bottom: 4px;
}

.footerSocial a{
    font-size: .9rem;
    display: flex;
    text-decoration: none;
    margin: 0;
}

.active-nav-item {
    color: $main;
}

.copyright {
    text-align: center;
    padding:0;
    margin: 0;
}