.topSec {
    // background-image: url("https://www.havi.com/sites/default/files/default_images/banner-default-big.jpg");
    // background-size: cover;
    background-color: rgba(244,244,244,0.7);

}

.formText {
    text-align: center !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 8rem;
    height: 100%;
    color: rgb(24, 59, 88);
}



.formBackground {
    background-color: rgba(0, 0, 0, .7);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .5);
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
}