.topformimage {
    background-image:  linear-gradient( rgba(255, 255, 255, 0.747)),  url("https://i.kinja-img.com/gawker-media/image/upload/s--f0swC2cf--/c_scale,f_auto,fl_progressive,q_80,w_800/y0t5l2htujdf2jxeam78.jpg");
    background-size: cover;
}

.formText {
    text-align: center !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7rem;
    padding-bottom: 4rem;

    height: 100%;
}



.fields {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.formBackground {
    background-color: rgba(0, 0, 0, .85);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .5);
    width: 100%;
}


.fields2 {
    text-align: center !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.formButton {
    text-align: center !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 40px;
    margin-bottom: 40px;
}


@media only screen and (max-width: 890px) {
    .fields, .fields2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.fields, hr {
    right: 20px;
}

