.success {
    color:white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 7rem;
    background-image:  linear-gradient( rgba(0, 0, 0, 0.753)),  url("https://i.kinja-img.com/gawker-media/image/upload/s--f0swC2cf--/c_scale,f_auto,fl_progressive,q_80,w_800/y0t5l2htujdf2jxeam78.jpg");
    background-size: cover;
    height: 90vh;
}